.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.container{
    width: 40%;
    background-color: #f8f8ff;
    padding: 20px 15px;
}

.container input{
    box-sizing: border-box;
    display: block;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    border: 3px solid blue;
    padding: 10px;
}

.buttons{
    text-align: center;
    padding: 20px 0 10px 0;
    cursor: pointer;
}

.container button{
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
    margin: 0 10px;
    background-color: #1e88fd;
}

@media (max-width: 550px) {
    .container{
        width: 70%;
    }
}